<h3>Post</h3>
<form accept-charset="UTF-8" action="/posts" class="new_post" id="new_post" method="post">
  <label for="content">What would you like to post?</label>
  <input id="content" name="post[content]" size="150" type="text" />
  <input class="btn btn-large btn-primary" name="commit" type="submit" value="Create my post" />
</form>