<h3>Search</h3>
<form action="/search" class="search" id="search" method="post">
  <label for="q">Search to see other user and posts:</label>
  <input id="q" name="q" type="text"/>
  <input id="button" value="Search" type="submit"/>
  <input id="post_search" name="search_type" type="radio" value="posts" checked/>
  <label for="post_search">Posts</label>
  <input id="user_search" name="search_type" type="radio" value="users" />
  <label for="user_search">Users</label>
</form>